<section>

	<div class='jumbotron' style='padding-top: 5px; padding-bottom: 5px;'>
		<h1 class='text-center'>{{titulo}}</h1>
	</div>

	<div layout="row" >
		<div flex='100'>
			<form>
				<div class='form-group input-group'>
					<span class='input-group-btn'> <a href='/titulosTD/novo'
						class='btn btn-primary' type='button'>Novo Título TD</a></span> <input
						id='filtroNome' name='filtroNome' class='form-control'
						autofocus='autofocus' placeholder='filtrar pelo nome do título'
						ng-model='filtroNome' ng-model-options='{debounce: 1000}'>
				</div>
			</form>
		</div>
	</div>

	<!-- 	<div class='row'>  -->
	<div layout="row" layout-wrap>
		<!-- 		<div class='col-md-2'> -->
		<tesouro-direto-item flex="20"
			ng-repeat='tituloTD in titulosTD | filter:{nome:filtroNome}:false'
			id='{{tituloTD.id}}' nome='{{tituloTD.nome}}'
			tipo='{{tituloTD.tipo}}'> </tesouro-direto-item>
	</div>

</section>
